{% extends "base.html" %}

{% block title %}Gwiz Admin Login{% endblock %}

{% block nav %}{% endblock nav %}

{% block content %}
    <div class="row top-buffer">
        <div class="col-9 auto-margin no-float panel panel-default panel_authentication">
            <form class="" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <fieldset>
                    <legend class="push_bottom_30">Gwiz Login</legend>
                    {% if form.errors %}
                        <small class="login_failure">Your username and password didn't match. Please try again.</small>
                    {% endif %}
                    <div class="form-group">
                         <label>EMAIL</label>
                         <p class="input-group text-center ">
                            <input type="text" class="form-control input-lg" id="id_username" name="username" placeholder="Email" required/>
                        </p>
                    </div>
                    <div class="form-group">
                         <label>PASSWORD</label>
                         <p class="input-group text-center">
                            <input type="password" class="form-control input-lg" id="id_password" name="password" placeholder="Password" required/>
                        </p>
                        <small class="login_link">
                            Forgot your <a href="{% url 'password_reset' %}">password?</a>
                        </small>
                    </div>
                    <button type="submit" class="btn btn-grey auto-margin no-float">LOGIN</button>
                </fieldset>
            </form>
        </div><!-- //col -->
    </div>
{% endblock %}