{% extends "base.html" %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="row top-buffer">
    <div class="col-10 auto-margin no-float panel panel-default panel_authentication">
        <form class="margin-base-vertical" method="post" action>
            {% csrf_token %}
            <fieldset>
                <legend>CHANGE PASSWORD</legend>
                <div class="form-group">
                    <label>OLD PASSWORD</label>
                     <p class="input-group text-center ">
                        <input type="password" class="form-control input-lg" id="id_old_password" name="old_password" placeholder="old password" required/>
                    </p>
                </div>
                <small class="error_list push_bottom_15">{{ form.old_password.errors }}</small>
                <div class="form-group">
                    <label>NEW PASSWORD</label>
                     <p class="input-group text-center">
                        <input type="password" class="form-control input-lg" id="id_new_password1" name="new_password1" placeholder="new password" required/>
                    </p>
                </div>
                <small class="error_list push_bottom_15">{{ form.new_password1.errors }}</small>
                <div class="form-group">
                    <label>CONFIRM PASSWORD</label>
                     <p class="input-group text-center ">
                        <input type="password" class="form-control input-lg" id="id_new_password2" name="new_password2" placeholder="confirm password" required />
                    </p>
                    <small class="error_list push_bottom_15">{{ form.new_password2.errors }}</small>
                    <small class="login_link">
                    Return to <a href="/admin">Admin Screen.</a>
                </small>
                </div>


                    <button type="submit" class="btn btn-white auto-margin no-float">CHANGE PASSWORD</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </fieldset>
        </form>
    </div><!-- //col -->
</div><!-- //row -->

{% endblock %}