{% extends 'base.html' %}

{% block title %}Password Reset Email{% endblock title %}

{% block nav %}{% endblock nav%}

{% block content %}
<div class="row top-buffer">
    <div class="col-10 auto-margin no-float panel panel-default panel_authentication">
        <form action="" class="margin-base-vertical" method="post">
        {% csrf_token %}
            <legend class="push_bottom_15">PASSWORD RESET</legend>
            <div class="form-group">
                <label>EMAIL</label>
                 <p class="input-group text-center ">
                     <span class="input-group-addon glyphicon glyphicon-envelope"><span class="icon-envelope"></span></span>
                     <input type="text" class="form-control input-lg" id="id_email" name="email" placeholder="email@example.com" />
                </p>
                <small class="error_list">{{ form.email.errors }}</small>
            </div>
            <button class="btn btn-white auto-margin no-float" type="submit" value="RESET PASSWORD">Reset Password</button>
        </form>
    </div><!-- //col -->
</div><!-- //row -->

{% endblock content %}